[submodule "general"]
	path = general
	url = https://github.com/scizzorz/slag-general.git
[submodule "python"]
	path = python
	url = https://github.com/scizzorz/slag-python.git
[submodule "mask"]
	path = mask
	url = https://github.com/scizzorz/slag-mask.git
[submodule "bq"]
	path = barequest
	url = https://github.com/scizzorz/bare-quest-pico8.git
