[submodule "general"]
	path = streams/general
	url = https://github.com/scizzorz/slag-general.git
[submodule "python"]
	path = streams/python
	url = https://github.com/scizzorz/slag-python.git
[submodule "mask"]
	path = streams/mask
	url = https://github.com/scizzorz/slag-mask.git
